<div class="container-fluid">
    <div class="row">
        <h2>Lines:</h2>
        <input class="form-control"
               ng-model="$ctrl.query"
               placeholder="Search line by name...">
    </div>
    <div class="row">
        <ul class="list-group">
            <li class="list-group-item"
                ng-repeat="line in $ctrl.lines | filter:{name: $ctrl.query} | orderBy:'name'"
                ng-class="{active: line.name == $ctrl.selectedLine}"
                ng-click="$ctrl.selectLine(line.name)">
                <h4>line: {{line.name}}</h4>
                <p>{{line.description}}</p>
            </li>
        </ul>
    </div>
</div>
