<div class="container-fluid">
    <div class="row">
        <h2>{{$ctrl.tableTitle}}</h2>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th ng-repeat="header in $ctrl.tableHeaders">
                        {{header}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="detail in $ctrl.tableDetails">
                    <td ng-repeat="data in detail">
                        <div ng-bind-html="data"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>